[submodule "quickstart/content/posts/themes/ananke"]
	path = quickstart/content/posts/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "quickstart/themes/ananke"]
	path = quickstart/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "quickstart/themes/soho"]
	path = quickstart/themes/soho
	url = https://github.com/alexandrevicenzi/soho.git
[submodule "quickstart/themes/themes/hello-friend"]
	path = quickstart/themes/themes/hello-friend
	url = https://github.com/panr/hugo-theme-hello-friend.git
